{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'books/style.css' %}" />
    </head>
    <body>
        <div class="otherlinks">
            <ul id="navbar">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'authors' %}">Authors</a></li>
                <li><a href="{% url 'filters' %}">Filters</a></li>
            </ul>
        </div>

        {% block content %} {% endblock content %}
    </body>
</html>
