{% extends "books/base.html" %} {% block content %}

<h1 id="filter-heading">Filters</h1>

<form class="filterform" action="{% url 'filters'   %}" method="get">
    <!-------------------------------------------------------->
    <button
        class="alphabutton formbutton"
        type="submit"
        name="filter"
        value="alphabatic"
    >
        Alphabatical
    </button>
    <!-------------------------------------------------------->
    <button
        class="ratingh2l formbutton"
        type="submit"
        name="filter"
        value="ratingh2l"
    >
        Rating High to Low
    </button>
    <!-------------------------------------------------------->
    <button
        type="submit"
        class="ratingl2h formbutton"
        name="filter"
        value="rating-l2h"
    >
        Rating Low to High
    </button>
    <!-------------------------------------------------------->

    <button
        type="submit"
        class="pagesl2h formbutton"
        name="filter"
        value="numberOfPagesl2h"
    >
        Pages Low to High
    </button>
    <!-------------------------------------------------------->
    <button
        type="submit"
        class="pagesh2l formbutton"
        name="filter"
        value="numberOfPagesh2l"
    >
        Pages High to Low
    </button>
    <!-------------------------------------------------------->
    <div class="langselection">
        <label style="display: block" for="language">Choose Language :</label>
        <select name="language" id="language">
            <!--Dict used to ensure human readablity of Language codes -->
            {% for code,l in lang_dict.items %}
            <option value="{{code}}">{{l}}</option>
            {% endfor %}
        </select>
        <button
            class="langselectbutton"
            type="submit"
            name="filter"
            value="selectlang"
        >
            Select
        </button>
    </div>
    <!-------------------------------------------------------->
</form>

<ul>
    {% for book in entries %}
    <p class="filter-title">{{book.booktitle}}</p>
    {% if flag == "rating" %}

    <p>Ratings :{{book.bookrating}}</p>

    {% if book.bookrating > 4 %}
    <h4>⭐️⭐️⭐️⭐️⭐️</h4>
    {% elif book.bookrating > 3 %}
    <h4>⭐️⭐️⭐️⭐️🟡️</h4>
    {% elif book.bookrating > 2 %}
    <h4>⭐️⭐️⭐️🟡️🟡️</h4>
    {% elif book.bookrating > 1 %}
    <h4>⭐️⭐️🟡️🟡️🟡️</h4>
    {% elif book.bookrating > 0 %}
    <h4>⭐️🟡️🟡️🟡️🟡️</h4>
    {% elif book.bookrating == 0 %}
    <h4>🟡️🟡️🟡️🟡️🟡️</h4>
    {% endif %} {% elif flag == "pages" %} {% if book.bookpages == 0 %}
    <p>Not available</p>
    {% else %}
    <p>Pages : {{book.bookpages}}</p>
    {% endif %} {% endif %} {% endfor %}
</ul>
{% endblock content %}
<!  ⭐️⭐️⭐️⭐️⭐️>
