{% extends "books/base.html" %} {% block content %}
<!-------------------------------------------------------------------->

<h1 id="krish">Shreekrishna</h1>
<div class="bookbox">
    {% for b in book %}
    <div class="showbook">
        <div class="bookimage">
            <div class="image">
                <p class="book-title">{{b.booktitle}}</p>
                <p class="book-authors">{{b.bookauthors}}</p>
            </div>
        </div>

        <div class="bookdetails">
            <p class="bookTitle"><b> Title</b> : {{b.booktitle}}</p>
            <p class="bookAuthors"><b> Authors</b> : {{b.bookauthors}}</p>
            <p class="bookPages"><b>Pages : </b>{{b.bookpages}}</p>
            <p class="bookRatings"><b>Ratings: </b>{{b.bookrating}}</p>
            <p class="publishedDate">
                <b>Published Date :</b>{{b.book_publication_date}}
            </p>
            <p class="bookPublisher"><b>Publisher : </b>{{b.book_publisher}}</p>
        </div>
    </div>

    {% endfor %}
</div>
<!-------------------------------------------------------------------->
{% endblock content %}
